* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(45, 45, 45);
}
#main-text {
    font-size: 30px;
    font-weight: 400;
    margin: 0px 20px 10px 50px;

}
header {
    background-color: rgb(166, 166, 166);
    padding: 25px;
    border-bottom: 7px #38ee06 double;
    border-radius:  0 50px 50px 0;
    width: 90%;
}
#uke-h {
    color: aqua;
}
main {
    color: rgb(230, 230, 230);
}